.main{
    margin-top: -11rem;
    padding: 7.2rem;
}

.our-vision{
    text-align: center;
    margin-top: -5rem;    

    &__heading{
        font-size: 4.2rem;
        font-weight: bold;
        padding: 2.4rem;
    }

    &__sub-heading{
        text-align: left;
        font-size: 3.2rem;
    }

    &__paragraph{
        text-align: left;
        width: 56.2rem;
        font-size: 2.4rem;
    }

    &__vector-wrapper{
        position: relative;
        height: 25rem;
    }

    &__vector{
        position: relative;
        top: -26.2rem;
        opacity: 0.1;
        right: -18rem;
        height: 40rem;
    }
}

.how-it-works{
    
    text-align: center;

    &__heading{
        font-size: 3.6rem;
        font-weight: bold;    
    }

    &__sub-heading{
        font-size: 2.4rem;
    }

    &__paragraph{
        font-size: 1.8rem;
        width: 52rem;
        margin: auto;
    }
}

.content-divider{
    border-bottom: 3px solid $color-grey-light;
    border-radius: 20%;
    max-width: 110rem;
    margin: 8rem auto;
}

.down-arrow{
    display: flex;
    justify-content: center;
    margin: 4.2rem;
}