.navbar{ 
    
    border-bottom: 2px solid black;
    padding: 1.5rem;
    height: auto;
    position: relative;
    z-index: 100;

    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo-link{

        display: flex;
        align-items: center;
            
        &:hover{
            
        }
    }

    &__logo-text{
        
    }

    //NAV BAR LINKS
    &__items{
        & > a {
            display: inline-block;
            text-decoration: none;
            font-size: 1.6rem;
            padding: .8rem;
            text-transform: uppercase;
            text-align: center;
            min-width: 6.5rem;
            color: $color-black;
            transition: ease-in-out .25s;
            border: 1px solid transparent;
        }

        & > a:visited{
            color: $color-black;

        }

        & > a:hover{
            color: $color-black;
            background-color: $color-grey-light;
            border: 1px solid $color-black;
        }

        & > a:not(:last-child){
            margin-right: 1.6rem;
        }

    }
}